{% extends "layout.html" %}


{% block content%}
<div class="somos">
    <div class="fyt">
        <div class="paraf">
            <img class="foto" height="200" width="150" src="{{url_for('static',filename='imagen/foto1.jpg') }}"
                alt="logo1" />
        </div>
        <div class="info1">
            <h3>Jesus David Castro Diaz </h3>
            <p>Soy una persona amante del arte y me apasiona la musica. considero ser una persona seria honesta y
                responsable, dedicado a lo mio; mi familia, mis amistades y a lo que me mueve.

                Vivo en la ciudad de medellin hace un poco mas de 5 años,una bella ciudad que me ha gustado.

                Actualmente estoy estudiando en la Fundacion Universitaria Catolica del Norte, en 3er semestre de
                la carrera Desarrollo de Software, es un oficio y carrera que me llama mucho la atención y quiero
                lograr
                desarrollarme en este campo de la tecnologia.
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="info2">
        <h3>QUIENES SOMOS</h3>
        <p>Somos una marca que busca el diseño en el arte manual, creamos
            piezas unicas, en las que la autencidad es nuestro mayor proposito.
            Que puedas sentir en cada detalle la inspiración de nuestras manos
            y que al igual que nosostros te sientas inspirado al usarlos, que puedas
            ambientar tus espacios y dejar fluir tu creatividad.
        </p>
        <br>
        <p>Creamos libros con tapas de cuero, donde puedes dejar grabadas tus historias
            y puedes dejar fluir tu creatividad.
        </p>
        <p> Creamos macetas de concreto que pueden ambientar tus espacios con un toque muy
            natural y lleno de paz.
        </p>
        <p> Creamos camisetas con mensajes personalizados y propios que te inspiran al usarlas
            y hacen que otros se insipren tambien.
        </p>

        <p> Creamos posters con diferentes tecnicas de estampaión en papel, en los que puedes
            plasmar lo que desees.
        </p>
    </div>
</div>

<br>
<br>
<br>
<br>

{% endblock %}